<div class="columms custom-columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="column is-half is-offset-one-quarter">
     <div class="col-sm"><img src="./assets/profile-img.png" class="img-fluid" alt='Profile'></img> </div>
    </div>
  </div>
</div>
</div>
<div class="login-space">
  <h1 class="title is-3"> Login</h1>
</div>
<div class="card">
  <form class="card-content" id="login-form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input id="email" class="input custom-input" type="email" placeholder="e.g. rockNroll@gmail.com" />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input id="pw" class="input custom-input" type="password" placeholder="at least 8 characters" />
      </div>
    </div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button id="loginBtn" class="button custom-button" type="submit"><strong>SYNAPSE!</strong></button>
      </div>
      <br>
    </div>

  </form>
</div>
