<div class="container">
        <div class="font">
            <div class="row">
                <div class="row"><br></br><br></br></div>
                <div class="col-1"></div>
                <div class="col-4"> 
                    <div class="hide-on-phone">
                        <div class="col-sm"><br></br></div>
                        <div class="col-sm"><img src="./assets/profile-img.png" class="img-fluid" alt='Profile'></img> </div>
                        <div class="col-sm"><br></br></div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <form>
                            <div class="field">
                            <label class="label">What is the unique name of your new group?</label>
                                <div class="control">
                                    <input id="name" 
                                    class="input create-input"
                                    type="test"
                                />
                                </div>
                            </div>
                            <div class="field is-grouped">
                            <div class="control">
                                <button id="submitName" 
                                class="custom-button" 
                                type="submit">
                                <strong> Create new group! </strong>
                                </button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
